*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --white:#fff;
    --blue:#4092f1;
    --green:#67bb49;
    --yellow:#fcdf28;
    --orange:#ec7b52;
    --red:#e16a6a;


    --background-white:#fff;
    --background-blue:#f5f8fa;
    --background-grey:#e2eefc;
    --background-red:#faf1f1;
    --background-green:#f0f7ee;
    --background-blue-sat:#edf5fe;

    --text-main:#1a1a1a;
    --text-grey:#6a727b;
    --text-black:#000;

    --border-grey:#eceff8;

    --font-family: "Inter", sans-serif;
    --second-family: "Manrope", sans-serif;
}


// main block

.block{
    padding: 24px 20px;

    &__header{
        display: flex;
        justify-content: space-between;
    }

    &__title{
        font-family: var(--font-family);
        font-weight: 500;
        font-size: 18px;
        line-height: 156%;
        color: var(--text-main);
    }

    &_background-blue{
        background-color: var(--background-blue);
    }
}

.wrapper{
    overflow: hidden;
}

// button - btn

.btn{
    padding: 7px 8px;

    display: flex;
    justify-content: center;
    align-items: center;

    & p{
        font-family: var(--font-family);
        font-weight: 400;
        font-size: 14px;
        line-height: 143%;
    }

    &_order{
        width: 100%;

        background-color: var(--white);
        border: 1px solid var(--blue);
        border-radius: 8px;

        color: var(--blue);
    }

    &_add-cart{
        width: 100%;

        border-radius: 8px;
        background-color: var(--background-blue-sat);
        border: none;

        color: var(--blue);
        & p{
            margin-left: 8px;
        }
    }
}

.counter{
    display: flex;
    justify-content: space-between;

    &__input{
        width: calc(100% - 80px);

        border: 1px solid var(--border-grey);
        border-radius: 7px;

        font-family: var(--font-family);
        font-weight: 500;
        font-size: 14px;
        line-height: 143%;
        color: var(--text-black);
        text-align: center;
    }

    &__add{
        width: 36px;
        aspect-ratio: 1;

        display: flex;
        justify-content: center;
        align-items: center;

        background-color: var(--white);
        border: 1px solid var(--border-grey);
        border-radius: 7px;
    }
}

.slider-controller{
    padding: 4px;

    border-radius: 100px;
    border: 1px solid #eceff8;

    display: flex;
    align-items: center;

    &__item{
        width: 28px;
        aspect-ratio: 1;

        display: flex;
        justify-content: center;
        align-items: center;

        background: none;
        border: none;

        & svg{
            width: 12px;
            aspect-ratio: 1;
        }
    }
}

.btn-interactive{
    margin-left: 8px;
    &:first-child{
        margin-left: 0;
    }

    width: 32px;
    height: 32px;

    display: flex;
    justify-content: center;
    align-items: center;

    background-color: var(--white);
    box-shadow: 0 2px 5px 0 rgba(28, 45, 64, 0.1);
    border-radius: 7px;

    border: none;

    & svg{
        width: 20px;
        aspect-ratio: 1;
    }
}

.receipts{
    margin-top: 12px;

    padding-bottom: 18px;

    &__item{
        width: 156px;
        height: 364px;

        padding: 8px;

        background-color: var(--background-white);
        box-shadow: 0 0 10px 0 rgba(28, 45, 64, 0.05);
        border-radius: 12px;
    }

    &__img-wrapper{
        width: 100%;
        height: 148px;

        position: relative;
    }
    &__img{
        width: 100%;
        height: 100%;
    }
    &__interactive{
        position: absolute;
        top: 0;
        right: 0;

        display: flex;
        justify-content: end;
    }
    &__detail{
        position: absolute;
        right: 4px;
        bottom: -4px;
        left: 4px;

        display: flex;
        justify-content: space-between;
    }
    &__article{
        padding: 4px 6px;

        background-color: var(--white);
        border-radius: 5px 5px 0 0;

        font-family: var(--second-family);
        font-weight: 400;
        font-size: 10px;
        line-height: 120%;
        color: var(--text-grey);

        &::before{
            content: 'Арт.';
        }
    }
    &__comments{
        padding: 4px;

        display: flex;
        align-items: end;

        background-color: var(--white);
        border-radius: 5px 5px 0 0;
        border: none;

        & p{
            padding-left: 4px;

            font-family: var(--second-family);
            font-weight: 400;
            font-size: 12px;
            line-height: 133%;
            color: var(--text-grey);
        }
    }

    &__description{
        margin-top: 8px;
    }
    &__name{
        min-height: 60.05px;

        font-family: var(--font-family);
        font-weight: 400;
        font-size: 14px;
        line-height: 143%;
        color: var(--text-main);

        overflow: hidden;
        display: -webkit-box;
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical;
    }
    &__tags{
        margin-top: 12px;

        display: flex;
        align-items: center;
    }
    &-tags{
        &__item{
            &:nth-child(3n){
                display: none;
            }

            margin-left: 4px;
            &:first-child{
                margin-left: 0;
            }

            padding: 2px 4px;

            border-radius: 5px;

            font-family: var(--second-family);
            font-weight: 700;
            font-size: 8px;
            line-height: 150%;

            &_make{
                background-color: var(--background-green);
                color: var(--green);
            }
            &_no{
                background-color: var(--background-red);
                color: var(--red);
            }
            &_hit{
                background-color: var(--orange);
                color: var(--white);
            }
            &_per{
                background-color: var(--yellow);
                color: var(--white);
            }
            &_new{
                background-color: var(--blue);
                color: var(--white);
            }
        }
    }

    &__price-wrapper{
        margin-top: 12px;

        height: 44px;

        display: flex;
        flex-direction: column-reverse;
    }
    &__price{
        padding-top: 4px;

        display: flex;
    }
    &__price-val{
        font-family: var(--font-family);
        font-weight: 600;
        font-size: 16px;
        line-height: 125%;
        color: var(--text-main);

        &::after{
            content: '₽';
        }
    }
    &__price-mark{
        padding-left: 4px;

        font-family: var(--font-family);
        font-weight: 400;
        font-size: 14px;
        line-height: 143%;
        color: var(--text-grey);
    }
    &__old-price{
        padding-top: 4px;

        font-family: var(--font-family);
        font-weight: 400;
        font-size: 12px;
        line-height: 133%;
        color: var(--text-grey);

        &::after{
            content: '₽';
        }
    }

    &__controller{
        margin-top: 12px;
    }
}


.swiper-receipts{
    position: relative;
}
.swiper-receipts .slider-controller{
    display: none;
}
.swiper-receipts .swiper-pagination{
    bottom: 0;

    text-align: start;

    display: flex;
}
.swiper-receipts .swiper-pagination-bullet{
    &:first-child{
        margin-left: 0;
    }

    width: 6px;
    height: 6px;

    background-color: #cbcfd3;
}
.swiper-receipts .swiper-pagination-bullet-active{
    background-color: var(--blue);
}